<div class="container mt-5 content-wrapper">
    <div class="page-header">
        <h6>Home</h6>
        <hr/>
    </div>
    <div class="accordion" id="accordionHome">
        <div class="accordion-item" *ngFor="let post of posts | paginate: { itemsPerPage: 10, currentPage: page }; let idx = index">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" attr.data-bs-target="#collapse_{{idx}}" attr.aria-expanded="{{idx == 0 ? true : false}}" attr.aria-controls="collapse_{{idx}}">
                <strong>{{post['title']}}</strong>
            </button>
            </h2>
            <div id="collapse_{{idx}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionHome">
            <div class="accordion-body">
                {{post['body']}}
            </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-5">
        <pagination-controls 
            responsive="true"
            (pageChange)="page = $event">
        </pagination-controls>
    </div>
</div>
